.cursor-pointer {
  cursor: pointer;
}
.text-decoration-none {
  text-decoration: none;
}
.font-fancy {
  font-family: "Kalam", cursive;
}
html, body {
  font-family: "Kalam", sans-serif;
  font-size: 18px;
}
