.cursor-pointer {
  cursor: pointer;
}
.text-decoration-none {
  text-decoration: none;
}
.font-fancy {
  font-family: "Sansita Swashed", cursive;
}
html, body {
  font-family: "Montserrat", sans-serif;
}
